<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="css/login_styles.css" rel="stylesheet">
</head>
<body>
<div class="login_container">
    <div id="logo">
        <h2>Twitter analyzer</h2>
        <img alt="Twitter logo" src="images/Twitter_Logo_WhiteOnBlue.svg">
    </div>
    <div id="login_form">
        <h2>Sign up for Twitter account</h2>
        <form action="/auth" method="post">
            <input placeholder="Email" type="email"/>
            <input placeholder="Password" type="password">
            <input type="submit" value="Sign in">
        </form>
    </div>
</div>
</body>
</html>