<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../static/css/login_styles.css" rel="stylesheet">
</head>
<body>
<div class="login_container">
    <div id="top_menu">
        <h2>Twitter analyzer</h2>
    </div>
    <div id="signIn_button">
        <h1>Get unique data from twitter</h1>
        <div id="whiteline"></div>
        <h4>check users data, latest tweets and more</h4>
        <form action="/auth/signin" method="post">
            <input type="submit" value="Sign in">
        </form>
    </div>
    <footer>
        <h6>&copy; Copyrights to Adam Wozniakowski and Marek Roskowicz</h6>
    </footer>
</div>
</body>
</html>