<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../static/css/user_styles.css" rel="stylesheet">
    <script src="../static/js/userInfo.js"></script>
</head>
<body>
<div class="login_container">
    <div id="top_menu">
        <h2>Twitter analyzer</h2>
        <div id="subpages">
            <a href="">General</a>
            <a href="">Tweets cloud</a>
            <a href="">First and last tweet</a>
        </div>
    </div>

</div>
</body>
</html>