<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../static/css/user_styles.css" rel="stylesheet">
    <script src="../static/js/userInfo.js"></script>
</head>
<body>
<div class="login_container">
    <div id="top_menu">
        <h2 class="column">Twitter analyzer</h2>
        <div class="column" id="subpages">
            <div class="action_menu">
                <button class="button" type="button">General</button>
                <button class="button" type="button">Tweets cloud</button>
                <button class="button" type="button">First and last tweet</button>
                <button class="button" type="button">Sign out</button>
            </div>
        </div>
    </div>
</div>
<div id="content">
    <div id="info_content"></div>
</div>
</body>
</html>