body{
    box-sizing: border-box;
}

.enter-text{
    height: auto;
    width: auto;
 
    text-align: center;
    margin-top: 20px;
}

.media{
    margin-left: 40%;
    margin-top: auto;
    border-radius: 5%;
    border: blue;


}

