.avatar{
    height: 30%;
    width: 30%;
}

.container{
    display: block;
}


.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:5px 5px;overflow:hidden;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:5px 5px;overflow:hidden;word-break:normal;}
.tg .tg-73oq{border: none;text-align:left;vertical-align:top}
