.mat-slider-horizontal {
    width: 300px;
    align-content: left;
  }
  
  .mat-slider-vertical {
    height: 300px;
    align-content: left;
  }

  .container {
    display: flex;
    align-content: left;
  }

  .content{
    margin-top: 15px;
    margin-left: 10px;
  }
